# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
AppleDouble
LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
package-lock.json

# editor config
.vscode/
.eslintcache
.stylelintcache

# jest
.jest/
